
body{
  background-color: #0e0e0e;
  margin-top: 0;
  color: white;
}
#site-color{
  background-color: rgb(119,136,153);
  margin-left: 64px;
  margin-right: 64px;
  height: 100%;

}
/*--------------------------------HEADER-CSS-----------------------------------*/
#header{
  display: flex;
  justify-content:center;
  overflow: hidden; /*Div e verilen boyuttan geri kalnını gizliyor yani eğer divin boyutundan büyük objeler var ise gizleniyor MASK gibi*/
  height: 500px;
  position: relative;
  text-align: center;
  background-color: black;



}
#header-img{
  height: 850px;
  z-index: 0;
  opacity: 0.7;
  filter: alpha(opacity=50);

}
#header-text{
   position: absolute;
   top: 202px;
   margin-left: auto;
   margin-right: auto;
   font-size: 36px;
   color: white;
   font-family: Roboto Slab;
   font-weight: normal;
   max-width: 780px;

}
/*-------------------------------------------------------------------------*/

/*--------------------------------PROFILE-CSS-----------------------------------*/
#victoria{
  display: flex;
  justify-content: center;
  margin-top: -50px;

}
#victoria-img{
  border-radius: 50%;
  height: 100px;
  z-index: 1;/*Header image ın arkasında kalmaması için verdim*/

}
#victoria-text{

  font-size: 18px;
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  color: white;
  margin-top: 10px;
  line-height: 24px;


}
#vkt-line{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #e6e6e6;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 185px;
  margin-bottom: 60px;
}

/*-------------------------------------------------------------------------*/
/*--------------------------------BODY-CSS-----------------------------------*/

#bodys{
  display:flex;
  justify-content: center;
  width: 66.67%;
  margin-left: 180px;
  margin-right: auto;
}
.numbers{
  margin-right: 40px;
  margin-top: -7px;
  font-size: 33px;
  font-family: Roboto Slab, serif;
  color: white;

}
.body-content{
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 120px;
}
.header{
  font-size: 36px;
  font-family: Roboto Slab,serif;
  font-weight: bold;
  color: white;
}
.header-link{
  color: #42b4d6;
  text-decoration: none;
  font-family: Roboto Slab serif;
}
.header-link:hover{
  color: #42b4d6;
  list-style: unset;
  text-decoration:underline;
}

.body-images{
  width: 100%;
}
